<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<style>
	.b {color:black;
		position:fixed;
	right: 50px;
	bottom:50px
	
	}
	
   .d{color:black;
	position:fixed;
	right: 50px;
     margin: 5px;
	
   .d{display: flex;
	}
	
</style>
<title>Insert title here</title>
</head>
<body >
	<header th:fragment="header">
		
		<div class="d">
			
			<div>
				
				<a th:text="${name}" class="c"></a><a>さん</a>
				<a th:text="${formatNowDate1}" class="c"></a>
				
				
			</div>
			
			<div>
				
			
				<a class="c"><time id="text"  ></time></a>
			
				<script type="text/javascript" class="c">
					document.getElementById("text").innerHTML=showTime();
					
					function showTime(){
						
						var realTime=new Date();
						var nowyear=realTime.getFullYear();
						var nowmonth=realTime.getMonth()+1;
						var nowday=realTime.getDate();
						var nowhour=realTime.getHours();
						var nowminutes=realTime.getMinutes();
						var nowseconds=realTime.getSeconds();
						
						var text=nowyear+"/"+nowmonth+"/"+nowday+"     "+nowhour+":"+nowminutes+":"+nowseconds;
						return text;
					}
					
					
					
					
					
					
						
						
					
					
					
					
					
					
				</script>
			</div>
			
		</div>

          
			<p class="b">Copyright © 2025</p>	
		
	</header>
	
	
	
	
		
		
		
		
	
		
	
		
		
		
		
	

		
		
		
			
			
			
		
		
		
		
		
		
		
		
	</div>

</body>
</html>