<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<style>p{color: red;}
	.yoko{
   
	border-bottom:solid 1px black;
	display: flex;
 
  }
 .aa{display: flex;
	
	position: fixed;
   bottom:50px;
   margin: auto;
 
width: 100%;
   border-top:solid 1px black;
 

   
   }
   
   .a{padding-right: 30px;
	 margin:50px;
 }
  
	 #b{background-color: orange;}

	.t{margin: auto;
	}
	.err{color: red;}
	
</style>


<title>社員情報更新（入力）</title>
</head>
<body>
	
	<header class="yoko">
		
	     <div><p>社員情報更新（入力）</p></div>
		
		<div id="header1" th:insert="header" ></div>	
		
		
	 </header>
		
	 <div class="m">
		
		
		
	    <main　>
			
			
			
			<form action="/kakunin" method="post" >
				
				<table class="t">
					
					
					<tr>
						<td>
							社員ID
						</td>
						<td>
							<input type="text" name="id" th:value="${id}"required ><br>
							
<!--						     <div th:text="${errrecord}" class="err"></div>-->
						     <div th:if="${errrecord}==null" class="err">
								<div th:text="${errrecord1}" ></div>
								
							 </div>
						  
						</td>
					</tr>
			
					<tr>
						<td>
							
							社員名
						</td>
						<td>
							
							
							<input type="text" name="name"  th:value="${name}" required><br>
							
						</td>
			
						
					</tr>	
					
					<tr>
						<td>
							
							年齢
						</td>
						<td>
							
							<input type="number" name="age" min="0" max="100"   th:value="${age}" required><br>
						
						</td>
						
					</tr>
					<tr>
						<td>
							パスワード
							
						</td>
						<td>
							<input type="password" name="password"  th:value="${password}"   required><br>
											
							<div th:text="${errPasswordLength}" class="err"></div>
							<div th:text="${errPassword}" class="err"></div>
						</td>
						
					</tr>
					<tr>
						<td>
							パスワード確認
							
						</td>
						<td>
							<input type="password" name="kakuninpassword" th:value="${kakuninpassword}"  required><br>
							<div th:text="${errKakuninPassword}" class="err"></div>
								<div th:text="${errPasswordLength}" class="err"></div>							
														
							
						</td>
						
					</tr>
					<tr>
						<td>
							開始日
							
						</td>
						<td>
							<input type="date" name="kaishi" th:value="${kaishi}" required><br>
							
						</td>
						
					</tr>
					<tr>
						<td>
							
							終了日
						</td>
						<td>
							<input type="date" name="shuryo"th:value="${shuryo}"  required><br>
						
						</td>
						
					</tr>
				
					
				</table>
					
					
					
			
					
			
					
					<div class="aa">
						
						
						
							<input type="submit" value="確認" class="a" id="b">
			
						
						<form action="/taikai" method="post">
					
							<input type="submit" value="退会"  class="a" id="b">
						</form> 
						<form action="/modoru2" method="post" >
					
							<input type="submit" value="戻る" class="a" >
							</form>
						
					</div>
			</form> 
			
				
		</main>
		
	 </div>
	


</body>
</html>